@media (max-width: #{$mobile_break_point}px) {
  .page {
    flex-direction: column-reverse;
    .tab-panel {
      width: 100%;
      height: 60px;
      flex-direction: row;
      padding: 35px 0;
      .tab-panel__tab {
        &.active {
          background: transparent;
          div {
            div {
              svg {
                color:#007bff;
              }
            }
          }
        }
      }
    }
  }
  .content  {
    width: 100%;
  }
}