$text_size: 24px;
.tab-panel {
  height: 100%;
  width: $tab_width;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  .tab-panel__tab {
    align-self: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    .tab__wrapper {
      height: 100%;
      @include flex_center(row);
      .active  {
        .tab__icon {
            svg {
              color:#007bff;
            }
        }
      }
      .tab__icon {
        color: rgb(0, 0, 0);
        font-size: $text_size;
        &.tab__icon_opacity {
          opacity: 0.6;
          &:hover {
            opacity: 1;
            color: $blue_color;
          }
        }
      }
    }
  }
}