/* Fonts */
$ft_roboto: 'Roboto';
$ft_monserat: 'Montserrat', sans-serif;
/* theming */
$light_flow: #edeff0;
$blue_color: #007bff;
$dangerous_color: #ff4336;
/* Sizes */
$tab_width: 75px;
$mobile_break_point: 620;
$mobile_sm: 365;